.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  width: 100%;
  padding: 1rem 2rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.075);
}

.header__darkmode {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 400px) {
  .header__darkmode {
    display: none;
  }
  .header {
    box-shadow: none;
    justify-content: center;
  }
}

.header__darkmode > h5 {
  margin-left: 0.3rem;
}

.header__icon {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .header > h1 {
    font-size: 16px;
  }
}
